@import './constants';

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $dark_color;
  color: white;
  padding: 10px;

  > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px 10px 20px;

    > button {
      height: 35px;
    }

    :nth-child(2) {
      margin-left: auto;
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;  /* adds scroll to this container */
    padding: 10px;

    .Card {
      margin: 10px;
    }
  }
}
